body._lock {
  overflow: hidden;
}

.burger,
.nav__list_burg  {
  display: none;
}

@media (max-width: 975px) {
  .nav__list_burg {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #FEFEFE;
    opacity: 0.9;
    transition: left 0.3s ease 0s;
    overflow: auto;
    transform: translate(100%, 0px);
    z-index: 500;
  } 

  .nav__list_burg.active_burg  {
    display: flex;
  }

  .nav__item a {
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
    font-weight: 400;
    color: #121212;
    padding-left: 70px;
    position: relative;
    line-height: 73px;
  } 

  .header__nav_list::before {
    content: '';
    position: fixed;
    width: 100%;
    top: 0;
    height: 70px;
    z-index: 20;
    padding: 0;
  } 

  .nav__list_burg.active_burg :last-child {
    margin-bottom: 0;
  }

  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 40;
  }

  .burger span,
  .burger::before,
  .burger::after {
    right: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #121212;
  }
  
  .burger::before,
  .burger::after {
    content: '';
  }

  .burger::before {
    top: 0;

  }
  .burger::after {
    bottom: 0;
  }

  .burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .burger.active_burg span {
    transform: scale(0) translate(0px, -50%);
  }

  .burger.active_burg::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  
  .burger.active_burg::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
}

@media (max-width: 495px) { 
  .nav__list_burg {
    top: 120px;
  } 
  .nav__item a {
    padding-left: 15px;
  } 
}
