.footer__input {
  background-color: #414141;
  padding: 7px 16px;
  width: 400px;
  height: 32px;
  border: 0 transparent;

  font-family: 'Spartan', sans-serif; 
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #8C8C8C
}

.footer__input::placeholder {
  font-family: 'Spartan', sans-serif; 
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #8C8C8C
}

.footer__btn {
  border: 1px solid #FFFFFF;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.9;
  padding: 7px 24px;
  margin-left: 13px;
}