.foto__block {
  display: grid;
  height: 560px;
  gap: 16px;
}

.front__block {
  grid-column-start: 2;
  grid-row-start: 1;
}

.fotos {
  grid-column-start: 1;
}

.fotos img {
  width: 94px;
  height: 114px;
}

.fotos {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end
}

.foto__arrow {
  display: flex;
  gap: 16px;
}

.foto__arrow button img {
  width: 40px;
  height: 40px;
}

.front {
  position: relative;
  z-index: 50;
}

.foto__btn_right,
.foto__btn_left {
  position: relative;
  z-index: 70;
  top: -150px;
}

.foto__btn_left {
  left: 5px;
}

.foto__btn_right {
  left: 180px;
}




