.pay__block_img {
  display: flex;
  gap: 16px;
  padding: 23px 0 32px;
}

.pay__title {
  display: flex;
  gap: 24px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-align: left;
  text-transform: uppercase;
} 

.pay__title span::after {
  content:'';
  width: 274px;
  background-color: #E5E5E5;;
  height: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 1215px) {
  .pay__block_img {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
  }

  .pay__title span::after {
    width: 200px;
  }
}

@media (max-width: 1040px) {
  .pay__title {
    gap: 12px;
    font-size: 9px;
  } 
}

@media (max-width: 1000px) {
  .pay__block_img {
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }
}

@media (max-width: 625px) {
  .pay__block_img {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
  }
}

@media (max-width: 480px) {
  .pay__title span::after {
    width: 150px;
  }
}

@media (max-width: 410px) {
  .pay__block_img {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
  }
}



