.product__filter_panel {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-found.active {
  display: flex;
  gap: 10px;
}

.product__filter_btn,
.filter-found__number {
  display: flex;
  gap: 12px;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
  opacity: 0.6;
}

.filter__item_f {
  font-size: 13px;
  color: #121212;
  opacity: 0.6;
}

.filter-found__number {
  padding-bottom: 20px;
}

.view__list {
  padding-right: 32px;
}

.filter {
  align-items: center;
  background: #f8f8f8;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 39px 0;
  padding: 24px 42px;
  width: 100%;
  height: 320px;
}

.filter.active {
  display: flex;
  align-items: flex-start;
}

.product__filter_header{
  display: flex;
  justify-content: space-between;
}

.product__filter_wrapper {
  width: 100%;
}

.filter_column_title {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.filter__item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter__item_text {
  font-size: 13px;
  font-weight: 400;
  line-height: 34px;
}

.filter_column {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 10px;
}
