.header__info {
  background-color: #121212;
  height: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 87px;
}

.header__info__left {
  display: flex;
  align-items: center;
}

.tel, .location, .time {
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  display: flex;
  color: #FFFFFF;
  opacity: 0.8;
  align-items: center;
  padding-right: 30px;
}

.location {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.03em;
}


.header__info_text {
  padding-left: 10px;
}

.header__nav {
  padding: 15px 85px 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__user_panel {
  display: flex;
  gap: 32px;
}

.user__btn {
  width: 24px;
  height: 24px;
}