.banner {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 30px;
  padding: 32px 85px 0;
}

.banner__bloсk,
.women__block,
.men__block,
.accessories__block {
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
}

.banner__bloсk {
  background-image: url(./img/banner.png);
  height: 490px;
  width: 540px;
}

.banner__swiper {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  max-width: 540px;
  max-height: 490px;
}

.swiper-btn.swiper-button-next::after,
.swiper-btn.swiper-button-prev::after {
  color: #6E6E6E;
  background-color: #FFFFFF;
  background-size: 40px;
  opacity: 0.6;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 13px 16px 13px 17px;
}

.women__block {
  background-image: url(./img/women.png);
  height: 200px;
  grid-row-start: 1;
  grid-column-start: 3;
}

.men__block {
  background-image: url(./img/men.png);
  height: 200px;
  grid-row-start: 1;
  grid-column-start: 4;
}

.accessories__block {
  background-image: url(./img/accessories.png);
  height: 260px;
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 5;
}

.banner__title_container {
  background-color: #FFFFFF;
  padding: 24px 0 11px;
}

.banner__title {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 13px 25px;
}

.banner__subtitle {
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
}  

@media (max-width: 965px) {
  .banner {
    padding: 32px 50px 0;
  }

  .banner__title {
    font-size: 17px;
  }

  .banner__subtitle {
    font-size: 9px;
  }
}  

@media (max-width: 860px) {
  .banner {
    grid-template-columns: repeat(2, auto);
  }

  .mySwiper,
  .banner__bloсk {
    width: 490px;
    height: 440px;
  }
  
  .women__block {
    grid-row-start: 3;
    grid-column-start: 1;
  }
  
  .men__block {
    grid-row-start: 3;
    grid-column-start: 2;
  }
  
  .accessories__block {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }
} 

@media (max-width: 430px) {
  .banner__title {
    font-size: 12px;
    padding: 13px 15px;
  }

  .banner__subtitle {
    font-size: 9px;
  }
}  
