.reviews__title_block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start
}

.reviews__btn {
  font-family: 'Spartan', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #121212;
  opacity: 0.6;
}

.reviews__block {
  border-bottom: 2px solid #E5E5E5;
  padding: 32px 0 48px;
}

.reviews__ {
  display: flex;
  justify-content: space-between;
}

.reviews__title {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  padding-bottom: 35px;
}

.reviews__name {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  padding: 26px 0 12px;
}

.reviews__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}