.product__card {
  width: 255px;
  display: flex;
  flex-direction: column;
}

.product__link {
  text-decoration: none;
}

.product__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
  opacity: 0.6;
  padding: 16px 0 12px;
}

.product__info {
  display: flex;
  justify-content: space-between;
}

.product__price {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
}

.product__star image {
  width: 11px;
  height: 10px;
}

.product__card_img {
  width: auto;
  height: 100%;
  text-align: center;
} 

.product__price_block {
  display: flex;
  gap: 4px;
  align-items: center
}

.product__discount {
  width: 53px;
  height: 31px;
  background: #E91E63;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  padding-top: 10px;
  position: absolute;
}

.product__price.active {
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  opacity: 0.4;
  text-decoration: line-through;
}