.product__card {
  width: 255px;
  display: flex;
  flex-direction: column;
}

.product__link {
  text-decoration: none;
}

.product__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
  opacity: 0.6;
  padding: 16px 0 12px;
}

.product__info {
  display: flex;
  justify-content: space-between;
}

.product__price {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
}

.product__star image {
  width: 11px;
  height: 10px;
}

.product__card_img {
  width: auto;
  height: 100%;
  text-align: center;
} 