.product__card_content {
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 38px 85px;
  min-width: 0;
}

.description {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-align: left;
  text-transform: uppercase;
  padding: 32px 0;
  color: #121212;
  opacity: 0.6;
  border-top: 2px solid #E5E5E5;
  border-bottom: 2px solid #E5E5E5;
}

@media (max-width: 1275px) {
  .product__card_content {
    padding: 38px 50px;
  }
}

@media (max-width: 1000px) {
  .product__card_content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 620px) {
  .product__card_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

