.product__card_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 38px 85px;
}

.description {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-align: left;
  text-transform: uppercase;
  padding: 32px 0;
  color: #121212;
  opacity: 0.6;
  border-top: 2px solid #E5E5E5;
  border-bottom: 2px solid #E5E5E5;
}
