.ptoduct__btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: #121212;
  opacity: 0.6;
}

.ptoduct__btn:hover {
  opacity: 1;
  transition: 0.3s;
}

@media (max-width: 500px) {
  .ptoduct__btn {
    font-size: 9px;
  }
}  